/* .image_style{
  border-radius: 50%;
  height: 50px;
  width: 50px;
} */

.title_text{
  text-align: center ;
  font-size: 25px ;
  font-weight: 700;
}

.info_text{
  text-align: center ;
  font-size: 20px ;
  font-weight: 500;
}

.image_style{
  border-radius: 50%;
}